/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# ignore all uploads in storage/app/public
/storage/app/public/assets/uploads/*
# but allow a placeholder .gitignore so the folder structure remains
!/storage/app/public/assets/uploads/.gitignore

# ignore the same under public/storage (the symlink target)
/public/storage/assets/uploads/*
!/public/storage/assets/uploads/.gitignore

# ignore user uploads stored via the 'career' disk (storage/assets/uploads)
/storage/assets/uploads/*
!/storage/assets/uploads/.gitignore